
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Efazati Shortify</title>
  <link href="{{ url_for('static', filename='css/foundation.min.css')}}" rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/foundation-icons.css')}}" rel='stylesheet' type='text/css'>



</head>
<body>

  <!-- <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">منو</div>
  </div> -->
  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu data-responsive-menu="accordion">
        <li class="menu-text">Shortify</li>
        <li><a href="{{ url_for('.index')}}">Home</a></li>

      </ul>
    </div>
  </div>

  <br>
  
  
    {% block content %}
    {% endblock content %}
    <br/>
  <div class="row">


  </div>

  <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
