{% extends 'base.html' %}
{% block content %}

<div class="row column">
  <p>URL:</p>

  	{% if code %}
  	<div>New Address: <a href="http://shortify.efazati.org{{url_for('.redirect_page', code=code)}}">http://shortify.efazati.org{{url_for('.redirect_page', code=code)}}</a></div>
  	{% endif %}
  	<form action="/shorten" method="post"> 
        <input name='url' type="search" placeholder="Search">
        <input class="button" type="submit" value="Submit">

    </form>
</div>
{% endblock content %}
