<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Efazati Shortify</title>
  <link href="/static/css/foundation.min.css" rel='stylesheet' type='text/css'>
  <link href="/static/css/foundation-icons.css" rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu data-responsive-menu="accordion">
        <li class="menu-text">Shortify</li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
  <br>

    {% block content %}
    {% endblock content %}
    <br/>
  <div class="row">
  </div>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
