{% extends 'base.html' %}
{% block content %}

<div class="row column">
    {% if error %}
    <div>Error: {{error}}</div>
    {% endif %}
    {% if short_code %}
    <div>Short Address: <a href="{{short_code}}">{{short_code}}</a></div>
    {% endif %}
</div>
<hr>
<div class="row column">
  <p>URL:</p>
  	<form action="/shortify" method="post">
        <input name='url' type="search" placeholder="Search">
        <input class="button" type="submit" value="Submit">

    </form>
</div>
{% endblock content %}
